html
{
    background:url("img/bg-texture.png");
    font-family:Arial;
}

#logo-wrapper
{
    width:100%;
    text-align:center;
    color:rgb(170, 170, 170);
    font-size:11px;
}

#stream-list
{
    overflow:hidden;
}

#stream-list li
{
    list-style-type:none;
    float:left;
    width:20%;
    text-align:center;
    padding-bottom:10px;
}

#stream-list li a:link
{
    text-decoration:none;
    color:rgb(22, 157, 206);
}

#stream-list li a:visited
{
    color:rgb(39, 134, 169);
}

#stream-list li a div
{
    margin:auto;
}

#randomize
{
    position: relative;
    width:220px;
    height:40px;
    text-align:center;
    color:#FFF;
    text-decoration:none;
    line-height:43px;
    font-family:Arial;
    font-size:17px;

    text-shadow:-1px -1px 0 #2C7982;
    border:1px solid #379AA4;
    background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:linear-gradient(top, #48C6D4, #3EACBA);
    border-radius:5px;

    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    
    cursor:pointer;
}

#randomize:active
{
    top:5px;
}

#randomize:hover
{
    background: #48C6D4;
    background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:linear-gradient(top, #3EACBA, #48C6D4);
}

input
{
    display:inline;
}

#twitchCheck
{
    text-align:center;
    position:relative;
}

#twitchCheck + label
{
    color:#FFF;
    -webkit-appearance: none;
    background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:linear-gradient(top, #48C6D4, #3EACBA);
    text-shadow:-1px -1px 0 #2C7982;
    box-shadow:0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding:9px;
    border-radius:3px;
    width:180px;
    text-align:center;
    position:relative;
    border:1px solid #379AA4;
    border-radius:5px;
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

#twitchCheck + label:hover
{
    background: #48C6D4;
    background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
    background-image:linear-gradient(top, #3EACBA, #48C6D4);
}
